/* Resets */
body, nav, div, p {
	margin: 0;
	padding: 0;
    font-family: 'Exo 2', sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/* Video player */

body {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

#container {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    overflow: hidden;
}

video {
    margin: 0;
    padding: 0;

    width: auto;
    height: 100%;
    width: 100%;

    max-height: 100%;
    max-width: 100%;
}

/* Overlay */
#alertcontainer {
    height: 40%;
    min-height: 100px;

    width: 20%;
    min-width: 100px;

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#alertcontainer #forward, #alertcontainer #backward {
    opacity: 0.9;
    position: absolute;
}

#darkoverlay {
    height: 100%;
    width: 100%;

    background-color: black;
    z-index: 5;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Control bar and buttons */

#controlbar {
    bottom: 0;
    margin: 20px;

    padding: 15px 20px;
    position: absolute;

    height: 20px;
    width: 100%;

    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;

    color: white;
    z-index: 10;
}

#controlbar img {
    display: inline-block;
    height: 100%;

    margin: 0 5px;
    cursor: pointer;
}

#controlbar div {
    display: inline-block;
}

#controlbar #playertime {
    width: 100px;
    text-align: center;
}

/* Progress bar */
#playprogress {
    width: 700px;
    height: 5px;

    margin: 0 20px;
}

#progressbar {
    width: 100%;
    height: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
}

#progressbar #progress {
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    position: relative;
    display: block;
}

/* Buttons */

input[type=file], button {
    background-color: #13719F;
    color: white;
    font-weight: lighter;
    border-style: none;
    border-radius: 3px;

    margin: 0 5px;
    padding: 10px 20px;

    cursor: pointer;
    transition: all 0.2s;

    font-family: 'Exo 2', sans-serif;
}

input[type=file]:hover, button:hover {
    background-color: #2A7FA8;
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 650px) {

}